<footer class="footer mt-auto py-5">
    <div class="container">
    	<div class="row mb-5">
	    	<div class="col col-12 col-md-3">
	    		<h2><a href="/about-us/">About us</a></h2>
	    		<ul>
	    		<li><a href="/about-us/our-team/">Our Team</a></li>
	    		<li><a href="/about-us/our-partners/">Our Partners</a></li>
	    		</ul>
	    	</div>
	    	<div class="col col-12 col-md-3">
	    		<h2><a href="/our-mission/">Our Mission</a></h2>
	    	</div>
	    	<div class="col col-12 col-md-3">
	    		<h2><a href="/our-work/">Our Work</a></h2>
	    	</div>
	    	<div class="col col-12 col-md-3">
	    		<h2><a href="/contact-us/">Contact Us</a></h2>
	    		<!--<p>Email us <a href="mailto:hello@efound.com">hello@efound.com</a></p>
	    		<p>Call us <a href="tel:01234567890">01234 567 890</a></p>-->
	    		<!--<div class="social-icons">
					<p>Follow us <a href="#" target="_blank"><i class="fab fa-twitter"></i></a><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></p>
				</div>-->
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col col-12">
	    		<p>© Elekta Foundation, 2022. All rights reserved. Registered in Sweden: Box 7593, 10393 Stockholm</p>
	    	</div>
	    </div>
    </div>
</footer>