{{- $jquery := resources.Get "js/vendor/jquery.min.js" -}}
{{- $popper := resources.Get "js/vendor/popper.min.js" -}}
{{- $bootstrap := resources.Get "js/vendor/bootstrap.min.js" -}}
{{- $bundle := slice $jquery $popper $bootstrap | resources.Concat "js/vendor-bundle.js" -}}
{{- $bundleFinal := $bundle | resources.Fingerprint "sha384" -}}
<script src="{{ $bundleFinal.RelPermalink }}" integrity="{{ $bundleFinal.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $opts := dict "noComments" true "minified" true }}
{{/* for production */}}
{{/* $opts := dict "noComments" true "minified" false */}}

{{ range .Params.additionalJs }}
{{ $js := resources.Get .link | js.Build }}
{{ $script := $js | resources.Fingerprint "sha384" }}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}

{{- $main := resources.Get "js/main.js" | js.Build -}}
{{- $mainFinal := $main | resources.Fingerprint "sha384" -}}
<script src="{{ $mainFinal.RelPermalink }}" integrity="{{ $mainFinal.Data.Integrity }}" crossorigin="anonymous"></script>
<script type="text/javascript">
var _paq = window._paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
_paq.push(['requireCookieConsent']);
(function() {
    var u="https://stats.elekta.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '16']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
})();
</script>