<div class="bg-white content-block py-5">

	<div class="container">

		<div class="row mb-3">

			<div class="col col-12">

				<h2>Proud partners</h2>

				<p>Elekta Foundation is proud to work with the following Partners</p>

			</div>

		</div>

		<div class="row">

			<div class="col col-12 col-md-6 col-lg-4 mb-5">

				<img src="/img/logo-trod.png" alt="Turkish Society for Radiation Oncology" />

				<div class="box p-4 mt-3">

					<h3>Turkish Society for Radiation Oncology</h3>

					<p>The Turkish Society for Radiation Oncology (TROD) was founded in 1993. TROD recently signed an educational collaboration agreement with Elekta to help provide educational and training activities in the TIMEA region (Turkey, India, Middle East, Africa).</p>

					<a href="/about-us/our-partners/" class="btn btn-primary">Read More</a>

				</div>

			</div>

			<div class="col col-12 col-md-6 col-lg-4 mb-5">

				<img src="/img/logo-rcc.gif" alt="Rayos Contra Cancer" />

				<div class="box p-4 mt-3">

					<h3>Rayos Contra Cancer</h3>

					<p>Rayos Contra Cancer (RCC) is a nonprofit organization that promotes sustainable access to high quality, timely, and affordable radiation treatment for cancer in limited resource settings globally.</p>

					<a href="/about-us/our-partners/" class="btn btn-primary">Read More</a>

				</div>

			</div>

			<div class="col col-12 col-md-6 col-lg-4">

				<img src="/img/logo-michener-institute.png" alt="Michener Institute" />

				<div class="box p-4 mt-3">

					<h3>Michener Institute</h3>

					<p>For over 60 years, The Michener Institute has been a leader in educating generations of health care professionals. Michener and the Elekta Foundation are developing an RTT cert program geared towards less Indebted middle income countries (LIMIC’s) such as African nations.</p>

					<a href="/about-us/our-partners/" class="btn btn-primary">Read More</a>

				</div>

			</div>

		</div>

	</div>

</div>